<div *ngIf="(employees() | slice: 0).length === 0" class="alert alert-info" role="alert">
  Loading employees...
</div>
<div class="container mt-5">
  <table class="table table-striped table-bordered" *ngIf="(employees() | slice: 0).length > 0">
    <thead class="table-info">
      <tr>
        <th scope="col">Emp No</th>
        <th scope="col">Emp Name</th>
        <th scope="col">Emp Mob</th>
        <th scope="col">Emp Location</th>
        <th scope="col">Action</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let emp of employees()">
        <td>{{ emp.empNo }}</td>
        <td>{{ emp.empName }}</td>
        <td>{{ emp.empMobile }}</td>
        <td>{{ emp.location }}</td>
        <td>
          <div class="d-flex gap-2">
            <a href="/view-employee/{{ emp.empNo }}" class="btn btn-sm btn-info"
              ><mat-icon
                aria-hidden="false"
                aria-label="Add Employee"
                fontIcon="visibility"
              ></mat-icon
            ></a>
            <a href="/update-employee/{{ emp.empNo }}" class="btn btn-sm btn-warning"
              ><mat-icon aria-hidden="false" aria-label="update Employee" fontIcon="edit"></mat-icon
            ></a>
            <a href="/" (click)="deleteEmployee(emp.empNo)" class="btn btn-sm btn-danger">
              <mat-icon
                aria-hidden="false"
                aria-label="delete Employee"
                fontIcon="delete"
              ></mat-icon>
            </a>
          </div>
        </td>
      </tr>
    </tbody>
  </table>
</div>
